flask==2.3.3
werkzeug==2.3.7

tensorflow==2.15.0
keras==2.15.0

mtcnn>=0.1.1
opencv-python-headless==4.10.0.84
Pillow>=10.0.0

scikit-learn>=1.3.0
scipy>=1.11.0
numpy==1.26.4
h5py>=3.9.0

matplotlib>=3.7.0
XlsxWriter>=3.1.0
openpyxl>=3.1.0

psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
gunicorn==23.0.0